html {
    background-color: #414345;
    font-family: 'Roboto Condensed';
    display: inline-block;
    font-size: 30px;
}

body {
    position: relative;
}

/* HEADING STYLES */
@keyframes slideDown {
    0% {
        transform: translateY(-7.75rem);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.greetings h1 {
    font-size: 2.5rem;
    display: inline-block;
    margin-top: 7.75rem; 
    color: white;
}

.greetings,
.recipes {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: 'Dancing Script';
}

/* RECIPE LIST STYLES */
.recipes {
    position: absolute;
    top: 15.75rem;
    right: 0;
}

.recipes a {
    color: white;
    text-decoration: none;
    font-size: .987;
}

.recipes a:hover {
    color: #f5af19;
    font-size: 1.125rem;
}

.recipes div:not(:last-child) {
    margin-bottom: .750rem;
}
