* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fdf2b5;
}

.logo {
  font-family: "Papyrus";
  text-transform: lowercase;
  font-weight: 400;
  font-size: 45px;
  color: #af3d08;
  padding: 5px;
  height: 10vh;
  display: inline;
}

.featured {
  font-size: 55px;
  margin-top: 80px;
  text-align: center;
}

.recipes {
  font-family: "Arial", sans-serif;
  height: 90vh;
  color: #1d1d1d;
}

.container {
  width: 550px;
  margin-top: 125px;
  overflow: hidden;
}

.container-alfredo {
  margin-left: 230px;
}

.container-burger,
.container-spaghetti {
  margin-left: 150px;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 35px;
  color: #1d1d1d;
}
